.col-md-6
  = semantic_form_for @team do |f|
    = f.inputs :name => "Endre lag" do
      = f.input :name, label: "Navn, maks 11 tegn"
    = f.actions do
      = f.action :submit, label: "Lagre", as: :button
