.row
  .col-md-6
    %table.table
      %h2
        Mine lag
        %span{class: "label label-primary"}
          = link_to "Nytt lag", new_team_path, {style: "color:white;"}
      - @teams.each do |t|
        %tr
          %td
            = link_to t.name, t
          - if is_admin? && !t.users.first.nil?
            %td
              = t.users.first.name
            %td
              = t.users.first.username
            %td
              = t.users.first.mobile
