= semantic_form_for @team do |f|
  - if @team.errors.any?
    .error-message
      Du gjorde noe feil.
  = f.inputs :name => "Nytt lag" do
    = f.input :name, label: "Navn"
  = f.actions do
    = f.action :submit, label: "Opprett", as: :button
