.col-md-3
  %h2.page-header
    = @team.name
    %span{class: "label label-primary"}
      = link_to "Endre", edit_team_path(@team),{style: "color:white;"}
  %table{class: 'table table-striped table-hover'}
    - @team.ordered_users.each do |u|
      %tr
        %td
          = u.username
        %td
          = u.name
        %td
          = link_to 'x', user_team_path(UserTeam.find_by_team_id_and_user_id(@team.id, u.id)), method: :delete, data: {confirm: 'Er du sikker på at du vil fjerne denne brukeren fra laget?'}

  = semantic_form_for @team do |f|
    = f.inputs :name do
      = f.input :username, as: :string, placeholder: 'Brukeren som skal legges til', label: 'Brukernavn'
    = f.actions do
      = f.action :submit, label: "Legg til bruker"
