%h2
  = @team.name
.row
  .col-md-6
    %table.table
      - @team.users.each do |u|
        %tr
          %td
            = u.username
          %td
            = u.name

    = semantic_form_for @team do |f|
      = f.inputs :name do
        = f.input :users, collection: User.all.select{|u| !@team.users.include?(u)}
      = f.actions do
        = f.action :submit, as: :button
