= semantic_form_for @competition do |f|
  - if @competition.errors.any?
    - flash[:danger] = "Noe gikk galt."
  = f.inputs :name => "Konkurranse" do
    = f.input :name
    //= f.input :description
    = f.input :admin_name
    = f.input :admin_email, as: :email
    = f.input :deadline, input_html: { class: 'datetimepicker' }, as: :string
  = f.actions do
    = f.action :submit, as: :button
