.header
  %h2
    =@competition.name
    - if is_admin?
      %span{class: "label label-primary"}
        = link_to "Endre", edit_file_competition_path(@competition),{style: "color:white;"}
  = link_to 'Send inn ditt bidrag!', new_file_competition_file_result_path(@competition)

.col-md-6
  %h3 Beskrivelse
  = raw(@markdown.render(@competition.description))
.col-md-6
  %h3 Informasjon
  %table{class: "table table-striped"}
    %thead
      %th Admin
      %th E-post
      %th Leveringsfrist
    %tr
      %td= @competition.admin_name
      %td= @competition.admin_email
      %td= I18n.l @competition.deadline
