= content_for :title, 'Logg inn'
.form.well.ws-component
  = semantic_form_for 'user', url: sessions_path do |f|
    = f.inputs 'Logg inn' do
      = f.input :username, label: false, placeholder: "Brukernavn eller e-post"
      = f.input :password, label: false, placeholder: "Passord"
    = f.actions do
      = f.action :submit, label: "Logg inn"
  Ingen bruker?
  = link_to "Registrer", registrering_path
  deg nå!
  %br
  %br
  Har du glemt brukernavnet eller passordet ditt?
  %br
  Ta kontakt med admin på
  = link_to 'Discord', 'https://discord.gg/mDD2zQW'

