= semantic_form_for @competition do |f|
  - if @competition.errors.any?
    - flash[:daner] = "Noe gikk galt."
  = f.inputs :name => "Konkurranse" do
    = f.input :name
    = f.input :description
    = f.input :admin_name
    = f.input :admin_mobile
    = f.input :admin_email, as: :email
    = f.input :team_size
    = f.input :start_time
  = f.actions do
    = f.action :submit, as: :button
