= semantic_form_for @competition do |f|
  - if @competition.errors.any?
    .error-message
      Du gjorde noe feil.
  = f.inputs :name => "Konkurranse" do
    = f.input :name
    = f.input :admin_name
    = f.input :admin_mobile
    = f.input :admin_email
    = f.input :start_time
  = f.actions do
    = f.action :submit, as: :button
