= content_for :title, @competition.name
.col-md-12
  %h2
    = @competition.name
    - if is_admin?
      %span{class: "label label-primary"}
        = link_to "Endre", edit_competition_path(@competition),{style: "color:white;"}
.col-md-6
  %table{class: "table table-striped table-hover", id: 'smalltext'}
    %thead
      %th Lagnavn
      %th Lagkaptein
      - if is_admin?
        %th Navn
        %th Mobil
      %th
    - @competition.teams.each do |t|
      %tr{class: ('active' if t.users.include?(current_user))}
        %td
          - if is_admin?
            = "(#{t.users.size})"
            = link_to t.name, t
          - else
            = t.name
        %td
          = t.contact_person.username
        - if is_admin?
          %td
            = t.contact_person.name
          %td
            = t.contact_person.mobile
        %td
          - if t.users.include?(current_user) || is_admin?
            = link_to 'x', CompetitionTeam.find_by_team_id_and_competition_id(t.id, @competition.id), method: :delete, data: {confirm: "Er du sikker på at du vil melde laget ditt av?"}
    %tr
      %td{style: 'text-align: right;'}
        %b
          Sum:
      %td
        %b= @competition.teams.size
        stk.
      %td

  - if !current_user.nil? && !@competition.users.pluck(:id).include?(current_user.id)
    = semantic_form_for @competition do |f|
      = f.inputs :name do
        = f.input :teams, label: "Mine lag", collection: current_user.teams.select{|t| !@competition.teams.include?(t)}, input_html: {multiple: false}
      = f.actions do
        = f.action :submit, label: "Meld på"

.col-md-6
  = cache(@competition.description) do
    %table{class: "table table-striped table-hover"}
      %thead
        %th Admin
        %th E-post
        %th Start
      %tr
        %td= @competition.admin_name
        %td= @competition.admin_email
        %td= I18n.l @competition.start_time
    = raw(kramdown(@competition.description))
  - if is_admin?
    = link_to 'Start konkurranse', start_competition_path, data: {confirm: "Er du sikker på at du vil starte denne konkurransen nå? DU KAN IKKE GÅ TILBAKE"}

