= javascript_include_tag 'bracket'
= stylesheet_link_tag "competitions"
= stylesheet_link_tag "jquery-bracket"
.header
  %h2
    = @competition.name
  - if !current_user.nil? && is_participating?(@competition.id, current_user.id)
    = link_to "Meld inn resultat", new_competition_result_path(@competition)
  - if is_admin? || (!current_user.nil? && current_user.results.where(competition_id: @competition.id).any?)
    %br
    = link_to "Mine innsendte resultater", competition_results_path(@competition)

.bracket

- if !current_user.nil? && is_participating?(@competition.id, current_user.id)
  .contact-info
    %table{class: "table table-striped"}
      %thead
        %th Lagnavn
        %th Brukernavn
        %th Mobilnummer
      - @competition.teams.each do |t|
        %tr
          %td
            = t.name
          %td
            = t.users.first.username
          %td
            = t.users.first.mobile
