= javascript_include_tag 'bracket'
= stylesheet_link_tag "competitions"
= stylesheet_link_tag "jquery-bracket"
.header
  %h2
    = @competition.name
  - if !current_user.nil? && is_participating?(@competition.id, current_user.id)
    = link_to "Meld inn resultat", new_competition_result_path(@competition)
  - if is_admin?
    = "-"
    = link_to "Resultater", competition_results_path(@competition)

.bracket
