= javascript_include_tag 'bracket'
= stylesheet_link_tag "competitions"
= content_for :title, @competition.name
.subheader
  %h2
    = @competition.name
    - if is_admin?
      %span{class: "label label-primary"}
        = link_to "Endre", edit_competition_path(@competition),{style: "color:white;"}
  - if is_admin? || (!current_user.nil? && is_participating?(@competition.id, current_user.id))
    = link_to "Meld inn resultat", new_competition_result_path(@competition)
    %br
    = link_to "Mine innsendte resultater", competition_results_path(@competition)

- if is_admin? || (!current_user.nil? && is_participating?(@competition.id, current_user.id))
  .center-box
    %h3 Kontaktinformasjon
    %table{class: "table table-striped table-hover"}
      %thead
        %th Admin
        %th Mobilnummer
      %tr
        %td= @competition.admin_name
        %td= @competition.admin_mobile
    = raw(kramdown(@competition.description))
  .row
    .bracket{style: @competition.teams.length > 16 ? 'margin-left: -75px;' : 'margin: auto auto;'}
  .row
    .center-box
      %h3 Lag som deltar
      %table{class: "table table-striped table-hover"}
        %thead
          %th Lag
          %th Kaptein
          %th Mobilnummer
        - @competition.teams.each do |t|
          %tr
            %td
              = is_admin? ? (link_to t.name, t) : t.name
            %td
              = t.contact_person.username
            %td
              = t.contact_person.mobile
    .col-md-4
- else
  .col-md-12
    .center-box
      %table{class: "table table-striped table-hover"}
        %thead
          %th Admin
          %th Mobilnummer
        %tr
          %td= @competition.admin_name
          %td= @competition.admin_mobile
    .bracket{style: @competition.teams.length > 16 ? 'margin-left: -95px;' : 'margin: auto auto;'}
