%table.table
  %thead
    %th Brukernavn
    %th Navn
    %th Mobilnummer
    %th Email
    %th Admin?
    %th Registrert
  - @users.each do |u|
    %tr
      %td
        = link_to u.username, edit_user_path(u)
      %td
        = u.name
      %td
        = u.mobile
      %td
        = u.email
      %td
        = t u.admin.to_s
      %td
        = I18n.l u.created_at
