= stylesheet_link_tag 'users'
Antall registrerte brukere:
= @users.length
%br
Antall admins:
= @users.where(admin: true).length
%table{class: "table table-striped"}
  %thead
    %th Brukernavn
    %th Navn
    %th Mobilnummer
    %th Email
    %th Admin?
    %th Registrert
    %th Sist endret
  - @users.each do |u|
    %tr
      %td
        = link_to u.username, edit_user_path(u)
      %td
        = u.name
      %td
        = u.mobile
      %td
        = u.email
      %td
        = t u.admin.to_s
      %td
        = u.created_at.to_formatted_s(:short)
      %td
        = u.updated_at.to_formatted_s(:short)
