= semantic_form_for @user do |f|
  - if @user.errors.any?
    - flash[:danger] = "Noe gikk galt."
  = f.inputs :name => "Registrering" do
    = f.input :username, label: "Brukernavn"
    = f.input :name, label: "Navn"
    = f.input :email, label: "E-post"
    = f.input :mobile, label: "Telefonnummer (mobil)"
    = f.input :password, label: "Passord"
    = f.input :password_confirmation, label: "Bekreft passord"
  = f.actions do
    = f.action :submit, as: :button
