.row
  .col-md-3
    %h2
      = @user.username
      %span{class: "label label-primary"}
        = link_to "Endre", edit_user_path(@user),{style: "color:white;"}
    = @user.name
    %br
    = @user.mobile
    - if params[:id] == current_user.id || is_admin?
      %br
      = @user.email
  .col-md-3
    %h2
      = "#{@user.username} sine lag"
    - @user.teams.each do |t|
      %table.table.table-striped.table-hover.table-condensed
        %thead
          %th= link_to t.name, t
        %tbody
          - t.users.each do |u|
            %tr
              %td= link_to u.username, u
  .col-md-3
    %h2
      = "#{@user.username} sine konkurranser"
    %table.table.table-striped.table-hover.table-condensed
      %thead
        %th Lag
        %th Konkurranse
      %tbody
        - @user.teams.each do |t|
          - t.competitions.each do |c|
            %tr
              %td
                = t.name
              %td
                = c.name
