.col-md-12
  %h2
    Alle artikler
    %span{class: "label label-primary"}
      = link_to "Ny artikkel", new_page_path, {style: "color:white;"}
  %table{class: "table table-striped"}
    %thead
      %th
        Tittel
      %th
        Skrevet av
      %th
        Synlig på hovedmenyen?
      %th
        Synlig på forsiden?
      %th
        Posisjon på forsiden
    - @pages.each do |p|
      %tr
        %td
          = link_to p.title, p
        %td
          = User.find(p.user_id).name
        %td
          = t(p.main_menu.to_s)
        %td
          = t(p.front_page.to_s)
        %td
          = p.position
        %td
          = link_to 'Endre', edit_page_path(p)
        %td
          = link_to 'Slett', p, method: :delete, data: {confirm: "Er du sikker?"}
