= content_for :title, 'Forside'
= cache [front_page_cache_key, @instagram.first.images.low_resolution.url] do
  .col-md-6
    %h2.page-header
      = @pages.first.title
    = raw(kramdown(@pages.first.content))
  .col-md-6
    %h2.page-header #GalaxeLAN på Instagram
    .instagram
      - @instagram.each do |i|
        .img-title
          = i.user.username
        = link_to image_tag(i.images.low_resolution.url), "https://instagram.com/#{i.user.username}/"
  - @pages[1..-1].each do |p|
    .col-md-6
      %h2.page-header
        = p.title
      = raw(kramdown(p.content))
