= content_for :title, 'Forside'
= cache('front-page', expires_in: 5.minutes) do
  .col-md-6
    %h2.page-header
      = @pages.first.title
    = raw(kramdown(@pages.first.content))
  .col-md-6
    %h2.page-header #GalaxeLAN på Instagram
    .instagram
      - Instagram.tag_recent_media("galaxelan", {:count => 15}).each do |i|
        = i.user.username
        = link_to image_tag(i.images.low_resolution.url), "https://instagram.com/#{i.user.username}/"
        .text
          = i.caption.text
  - @pages[1..-1].each do |p|
    .col-md-6
      %h2.page-header
        = p.title
      = raw(kramdown(p.content))
