%aside{class: 'menu'}
  %p#clock{style: 'margin: 23px 5px 0px 22px;'} 
  %p.menu-label
    Stats
  %ul.menu-list
    %li
      %a= "Pålogget nå: #{User.online.size}"
    //= cache (current_user.nil? ? 'nav_nil' : ['nav', current_user, current_user.teams.size, current_user.competitions.size, (not_accepted_cache_key if is_admin?)]) do
  - if !current_user.nil?
    %p.menu-label
      Personlig
    %ul.menu-list
      %li
        = link_to current_user.username, rediger_bruker_path
      %li
        - if is_admin?
          - if Result.not_accepted.any?
            %li
              %a{href: '#'}
                IKKE GODKJENTE RESULTATER
              %ul
                - Result.not_accepted.each do |r|
                  %li
                    = link_to r.competition.name, competition_results_path(r.competition)
          %li
            %a
              Admin
            %ul
              %li
                = link_to 'Alle artikler', pages_path
              %li
                = link_to 'Alle lag', teams_path
              %li
                = link_to 'Alle brukere', users_path
              %li
        %a
          Lag
      %li
        %ul.menu-list
          - if current_user.teams.empty?
            %li
              = link_to 'Vil du opprette et nytt lag?', new_team_path
          - else
            - current_user.teams.each do |t, index|
              %li
                = link_to t.name, t
              %li
                = link_to '+ Opprett nytt lag', new_team_path
    - if current_user.competitions.any?
      %li
        %a{href: '#'}
          = "Mine konkurranser"
        %ul.menu-list
          - current_user.teams.each do |t|
            - t.competitions.each do |c|
              %li
                = link_to "#{c.name}: #{t.name}", c

  = cache [Page.main_menu.size, Competition.all.size, FileCompetition.all.size] do
    %p.menu-label
      Informasjon
    %ul.menu-list
      - Page.main_menu.order(:title).each do |p|
        %li
          = link_to p.title, "/"+p.titledash
    %p.menu-label
      Konkurranser

    %ul.menu-list
      - Competition.order(:name).each do |c|
        %li
          = link_to c.name, started_competition_path(c)
      - FileCompetition.all.each do |f|
        %li
          = link_to f.name, f
