%nav{class: 'navbar navbar-default navbar-static-top', style: 'margin-bottom: 0px;', role: 'navigation'}
  .navbar-header
    = link_to Rails.application.config.event_name, root_path, class: 'navbar-brand'
  %p.navbar-text.navbar-left#clock{style: 'margin-right: 5px;'}
  %ul.nav.navbar-top-links.navbar-right
    %li.dropdown
      - if !current_user.nil?
        %a{href: '#', class: 'dropdown-toggle', 'data-toggle':'dropdown'}
          = current_user.username
          %i.fa.fa-caret-down
        %ul.dropdown-menu.dropdown-user
          %li
            = link_to 'Mine lag', teams_path
          %li.divider
          - if is_admin?
            %li
              = link_to 'Alle brukere', users_path
          %li
            = link_to 'Rediger bruker', edit_user_path(current_user)
          %li
            = link_to 'Logg ut', logg_ut_path
      - else
        = link_to 'Logg inn', logg_inn_path

  .navbar-default.sidebar{role: 'navigation'}
    .sidebar-nav.navbar-collapse
      %ul.nav#side-menu
        %li
          = link_to 'Informasjon', '#'
          %ul.nav.nav-second-level.collapse
            - if is_admin?
              %li
                = link_to 'Alle artikler', pages_path
              %li{class: 'divider'}
            - Page.all{|p| p.main_menu}.order(:title).each do |p|
              - if p.main_menu
                %li
                  = link_to p.title, "/"+p.titledash
        %li{class: 'active'}
          = link_to 'Konkurranser', '#'
          %ul.nav.nav-second-level.collapse
            - Competition.all.each do |c|
              %li
                = link_to c.name, c
            - FileCompetition.all.each do |f|
              %li
                = link_to f.name, f
          %li{class: ('active' if action_name == 'irc')}
            = link_to 'Chat - IRC', chat_path
