%ul{class: "nav nav-tabs nav-justified"}
  %li
    = link_to "Hjem", root_path

  %li{class: "dropdown"}
    %a{class: "dropdown-toggle", "data-toggle":"dropdown", "href":"#", role: "button", "aria-haspopup":"true"}
      Informasjon
      %span{class: "caret"}
    %ul{class: "dropdown-menu"}
      - if is_admin?
        %li
          = link_to 'Alle artikler', pages_path
        %li
          = link_to 'Ny artikkel', new_page_path
        %li{class: "divider", "role":"separator"}
      - Page.all{|p| p.main_menu}.each do |p|
        - if p.main_menu
          %li
            = link_to p.title, "/"+p.title


  %li{class: "dropdown"}
    %a{class: "dropdown-toggle", "data-toggle":"dropdown", "href":"#", role: "button", "aria-haspopup":"true"}
      Konkurranser
      %span{class: "caret"}
    %ul{class: "dropdown-menu"}
      - if is_admin?
        %li
          = link_to 'Ny konkurranse', new_competition_path
      - if !current_user.nil?
        %li
          = link_to "Mine lag", teams_path
        %li{class: "divider", "role":"separator"}
      - Competition.all.each do |c|
        %li
          = link_to c.name, c

  - if current_user.nil?
    %li
      = link_to "Logg inn", logg_inn_path
  - else
    %li{class: "dropdown"}
      %a{class: "dropdown-toggle", "data-toggle":"dropdown", "href":"#", role: "button", "aria-haspopup":"true"}
        Personlig
        %span{class: "caret"}
      %ul{class: "dropdown-menu"}
        %li
          = link_to "Endre bruker", edit_user_path(current_user)
        %li
          = link_to "Logg ut", logg_ut_path
