%html
  %head
    %title Datatreff
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    .container
      .page-header
        %h1 Datatreff
        - if !current_user.nil?
          Du er logget inn som
          = current_user.username
          = link_to 'Logg ut?', logg_ut_path
        - else
          Du er ikke logget inn.
          = link_to 'Logg inn?', logg_inn_path
      = yield
