%html{lang: I18n.locale}
  %head
    %title=Rails.application.config.event_name + ' 2015'
    %meta{name: 'description', content: 'Påmeldinga til GalaxeLAN 2015 har startet!'}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    .header
      %h1
        - if !current_user.nil?
          = current_user.username
        - else
          I
        %span{class: "glyphicon glyphicon-heart", id: "heart", "aria-hidden": true}
        = link_to Rails.application.config.event_name, root_path
    .right-box
      #clock
      #online
        = "Pålogget nå: #{User.online.length}"

    = render 'layouts/nav'
    .container
      = render 'layouts/notice'
      = yield
