%html{lang: I18n.locale}
  %head
    %title
      = Rails.application.config.event_name
      = " - "
      = yield(:title)
    %meta{name: 'description', content: 'Påmelding til konkurransene på GalaxeLAN 2016'}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    - if not is_admin?
      = javascript_include_tag 'analytics', 'data-turbolinks-track' => true

  %body
    .container
      = render 'layouts/header'
      .columns
        = cache_if(current_user.nil?, User.online.size) do
          .column.is-one-quarter
            = render 'layouts/nav'
          .column
            = render 'layouts/notice'
            = yield
