%html
  %head
    %title Datatreff
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    .container
      %h1
        = link_to 'Datatreff', root_path
        - if !current_user.nil?
          = current_user.username
      = render 'layouts/nav'
      = yield
