%html
  %head
    %title Datatreff
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    .container
      %h1
        %span{class: "glyphicon glyphicon-headphones", "aria-hidden": true}
        = link_to 'Datatreff', root_path
        %small
          - if !current_user.nil?
            = current_user.username
      = render 'layouts/nav'
      = render 'layouts/notice'
      = yield
    = render 'layouts/footer'
