%html{lang: I18n.locale}
  %head
    %title
      = Rails.application.config.event_name
      = " - "
      = yield(:title)
    %meta{name: 'description', content: 'Påmeldinga til GalaxeLAN 2015 har startet!'}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    #wrapper
      = cache_if(current_user.nil?, User.last_seen.count) do
        = render 'layouts/nav'
      #page-wrapper
        = render 'layouts/notice'
        = yield
